<div class="language-container">
  <msp-admin-language-check (changeActive$)="changeActive$($event)"></msp-admin-language-check>
  <div class="navigation-dashboard" [ngClass]="{'navigation-dashboard_end': navigation._id}">
    <h2 *ngIf="!navigation._id"
        class="navigation-dashboard__warning">
      Навигация для этого языка не создана! Пользователь увидет дефолтную навигацию
    </h2>
    <div class="navigation-dashboard__actions">
      <button mat-icon-button
              *ngIf="!navigation._id"
              class="icon-button"
              (click)="createNavigation()"
              matTooltip="Создать навигацию"
              aria-label="Создать навигацию">
        <mat-icon class="mat-icon">add</mat-icon>
      </button>
      <button mat-icon-button
              *ngIf="navigation._id"
              class="icon-button"
              (click)="editNavigation()"
              matTooltip="Редактировать навигацию"
              aria-label="Редактировать навигацию">
        <mat-icon class="mat-icon">edit</mat-icon>
      </button>
      <button mat-icon-button
              *ngIf="navigation._id"
              class="icon-button"
              (click)="deleteNavigation()"
              matTooltip="Удалить навигацию"
              aria-label="Удалить навигацию">
        <mat-icon class="mat-icon">delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="navigation layout-grid--full layout-grid-holder">
    <div class="layout-grid-holder__cell--span-6" *ngFor="let item of navigation.body">
      <div class="navigation-item">
        <h2 class="navigation__title navigation__title_custom" *ngIf="item.customTitle.trim().length">
          <mat-icon>{{ item.icon }}</mat-icon>
          {{ item.customTitle }}
        </h2>
        <h3 class="navigation__title navigation__title_origin">
          <mat-icon>{{ item.icon }}</mat-icon>
          {{ item.originTitle }}
        </h3>

        <span class="navigation__order">order: <b>{{ item.order }}</b></span>
        <span class="navigation__path">path: <i>{{ item.url }}</i></span>
      </div>
    </div>
  </div>
  <mat-progress-spinner
    *ngIf="isLoadNavigation"
    class="example-margin"
    [color]="'warn'"
    [mode]="'indeterminate'"></mat-progress-spinner>
</div>
<ng-template #template>
  <span class="language-snack-message"><mat-icon>warning</mat-icon> Навигация не создана для этого языка</span>
</ng-template>
