<div class="language-container">
  <ul class="language-list" *ngIf="language && language.length">
    <li class="language-list__item" *ngFor="let lang of language">
      <mat-icon *ngIf="lang.active"
                matTooltip="Установлен как основной"
                class="language-list-active">done_all</mat-icon>
      <msp-svg [svg]="lang.icon"></msp-svg>
      <span class="language-list__">{{ lang.title }}</span>
      <div class="language-list-actions">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu [overlapTrigger]="true"
                  [yPosition]="'below'"
                  [xPosition]="'before'"
                  #menu="matMenu">
          <button mat-menu-item (click)="edit(lang._id)"><mat-icon>edit</mat-icon>Редактировать</button>
          <button *ngIf="!lang.show" mat-menu-item><mat-icon>visibility</mat-icon>Показать</button>
          <button *ngIf="lang.show" mat-menu-item><mat-icon>visibility_off</mat-icon>Скрыть</button>
          <button *ngIf="!lang.active" (click)="activate(lang._id, lang)" mat-menu-item><mat-icon>done_all</mat-icon>Дефолтный</button>
          <button mat-menu-item (click)="remove(lang._id)"><mat-icon>delete</mat-icon>Удалить</button>
        </mat-menu>
      </div>
    </li>
  </ul>
  <div class="language-add">
    <button class="language-add__btn"
            mat-fab color="primary"
            routerLink="create"><mat-icon>add</mat-icon></button>
  </div>
</div>



