<div class="languages-select">
  <mat-select disableRipple value="2" >
    <mat-option value="1">
      <div [ngStyle]="{display: 'flex', alignItems: 'center'}">
        <div [ngStyle]="{width: '30px', height: '30px', paddingRight: '5px'}">
          <img src="https://image.flaticon.com/icons/png/128/197/197374.png" alt="">
        </div>
        Name language
      </div>
    </mat-option>
    <mat-option value="2">
      <div [ngStyle]="{display: 'flex', alignItems: 'center'}">
        <div [ngStyle]="{width: '30px', height: '30px', paddingRight: '5px'}">
          <img src="https://image.flaticon.com/icons/png/128/197/197571.png" alt="">
        </div>
        Name language
      </div>
    </mat-option>
    <mat-option value="3">
      <div [ngStyle]="{display: 'flex', alignItems: 'center'}">
        <div [ngStyle]="{width: '30px', height: '30px', paddingRight: '5px'}">
          <img src="https://image.flaticon.com/icons/png/128/197/197593.png" alt="">
        </div>
        Name language
      </div>
    </mat-option>
  </mat-select>
</div>
