@import '~scss/variables';

.main {
  position: relative;
  display: flex;
  flex: 1 0 auto;

  &-holder {
    padding: 0 $padding-container;
  }
}

.sidenav-container {
  flex: 1 0 auto;
}

.sidenav-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: #{$sidebar-width}px;
  background-color: transparent;
}

.btn-menu {
  font-size: 2rem;
}
