<mat-toolbar class="header-holder">
  <div class="header-holder-right-side">
    <button mat-icon-button aria-label="icon-button with a heart icon" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="header-holder-left-side">
    <div class="header-holder-btn-box">
      <button mat-icon-button aria-label="icon-button with a heart icon">
        <mat-icon>send</mat-icon>
      </button>
    </div>
    <msp-header-languages-select></msp-header-languages-select>
  </div>
</mat-toolbar>
