@import './variables';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: none;
}

html {
  font-size: 10px;
}

html, body {
  min-height: 100vh;
}

body {
  min-width: #{$basis-min-width-window}px;
  font: #{$basis-font-size}px/$basis-line-height $basis-font-family;
  color:$black;
  background-color: $secondary-color;
}

button,
[type=reset],
[type=submit],
[type=image],
a {
  -webkit-transition: background-color #{$transitionTime}s, color #{$transitionTime}s;
  transition: background-color #{$transitionTime}s, color #{$transitionTime}s;
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
  &:focus {
    outline: 1px dotted;
    outline-color: inherit;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

p {
  margin: 0 0 15px;
}

%list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

%clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
