@import "./variables";

.loader-filter-blur {
  filter: blur(2px);
}

.wrapper {
  background-image: url('assets/images/speaker_bg.png');
  padding: .5rem;
  display: flex;
  flex-direction: column;
  height: inherit;

  .mat-toolbar {
    background: transparent;
  }
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .mat-drawer {

    &-side {
      border: none;
    }

    &-container {
      background-color: transparent;
    }

    &-inner-container {
      max-width: 100%;
      overflow: hidden;
      display: flex;
    }
  }

  msp-user-page,
  msp-admin-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .mat-form-field {
    display: block;
  }
}

.return-back {

  &-btn {
    font-size: 1.5rem;
    font-family: $secondary-font-family;
    letter-spacing: 1.5px;
    font-weight: 600;
    padding: 0 !important;

    .mat-button-wrapper {
      display: flex;
      align-items: end;
    }

    .material-icons {
      font-size: 2.5rem;
      width: 35px;
      height: auto;
    }
  }
}

.checkbox-group {
  display: flex;
  max-width: 100%;
  width: 100%;
  margin: 0 -1rem;

  &-item {
    padding: 0 1rem;
    width: 50%;
  }
}

.mat-icon {
  font-size: $icon-button-font-size;
}

.icon-button.mat-icon-button {
  width: $icon-button-width;
  height: $icon-button-height;
  display: flex;
  justify-content: center;
  align-items: center;
}
