@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('./assets/fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2'),
  url('./assets/fonts/material-icons/MaterialIcons-Regular.woff') format('woff'),
  url('./assets/fonts/material-icons/MaterialIcons-Regular.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');
/*
* Front font
*/
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');
