.layout-grid {

  &--full {
    width: 100%;
  }

  &-holder {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));

    &__cell {

      &--span-6 {
        grid-column-end: span 6;
      }

      &--span-2 {
        grid-column-end: span 2;
      }
    }
  }
}
