$mobileM: 480;
$mobile:  767;
$tabletM: 992;
$tablet:  1023;
$laptop:  1440;

$width-value:'max-width';

$mobileMPoint: (#{$width-value} : #{$mobileM}px);
$mobilePoint:  (#{$width-value} : #{$mobile}px);
$tabletMPoint: (#{$width-value} : #{$tabletM}px);
$tabletPoint:  (#{$width-value} : #{$tablet}px);
$laptopPoint:  (#{$width-value} : #{$laptop}px);

/*
* font-family
*/

$primary-font-family: 'Ubuntu Condensed';
$secondary-font-family: 'Oswald';
$front-fonts:'EB Garamond', serif;

$basis-font-size:16;
$basis-color: #1c1c1c;
$basis-line-height: 1.375;
$basis-min-width-window: 320;
$basis-font-family: $primary-font-family, 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;

$transitionTime: .3s;
$sidebar-width: 300;
$sidebar-admin-width: 250;
$padding-container: 1rem;

/*
* colors
*/
$primary-color: #4872a3;
$secondary-color: #eceff1;
$warning-color: #D32F2F;
$danger-color: #D50000;
$success-color: #00C853;
$success2-color: #4CAF50;
$white: #f9f9f9;
$black: #121212;
$gray-300: #E0E0E0;
$gray-400: #BDBDBD;
$gray-500: #343434;

/*
* font-weight
*/
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 900;

/*
* z-index
*/
$z-index-max: 100;

/*
* icon-button
*/
$icon-button-font-size: 2.5rem;
$icon-button-width: 4rem;
$icon-button-height: 4rem;

/*
* content-container
*/
$content-container-border-width: 1px;
$content-container-border-color: rgba(180, 180, 180, 0.88);
$content-container-background-color: rgba(217, 226, 212, 0.35);
$content-container-background-color-hover: darken($content-container-background-color, 20%);
$content-container-background-color-transition-time: $transitionTime;

/*
* sidebar
*/
$sidebar-font-padding: 1rem 1.5rem;
$sidebar-font-family: $front-fonts;
$sidebar-font-size: 2rem;
$sidebar-font-weight: $font-weight-semi-bold;

/*
* spinner
*/
$spinner-animation-time: 1s;
$spinner-background-color: rgba($gray-300, .7);
$spinner-color: $primary-color;
$spinner-border-width: 3px;
$spinner-size: 64px;

/*
* page-spinner
*/
$page-spinner-background: #222;
$page-spinner-content-background: #222,#111;
$page-spinner-background-linear-gradient: #1611ff, #494fff, #1611ff;
$page-spinner-width: 150px;
$page-spinner-height: 150px;
$page-spinner-animation-duration: 1s;
$page-spinner-font-size: 1rem;
$page-spinner-line-height: 140px;
$page-spinner-font-style: oblique;
$page-spinner-font-variant: normal;
$page-spinner-font-weight: bold;
$page-spinner-font-family: 'Electrolize', Helvetica, Arial, sans-serif;

